/1B cpair/cmake-build-debug/
/build/
/.idea/misc.xml
/cpair
/1B cpair/cpair
/1B cpair/cpair.o
/.idea/codeStyles/codeStyleConfig.xml
/1B cpair/CMakeLists.txt
/1B cpair/stdin.txt
./client
./server
*/*.o
/3AB server-client/out.txt